.pet-reg{
    display: flex;

    flex-direction: column;
    width: 40rem;
    margin-top: 2rem;
    
}


/*header*/
header{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    background-image: url(https://www.hdnicewallpapers.com/Walls/Big/Dog/Dog_Running_on_Grass_Image.jpg);
    background-position: center top;
    background-size: cover;
}


/*register form*/

div{
    margin-bottom: 10px;
    margin-left: 4rem;

}
h2{
    margin-left: 8rem;
}

.pets{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pet{
    border: 1px solid;
    border-radius: 5px;
    padding: 2rem;

    
}
table{
    border: solid;
    padding: 3rem;
}
h3{
    margin-top: 4rem;
    background-color: aliceblue;
    padding: 2rem;
    color: rgb(112, 112, 112);
}
.pet .pet-header{
    display: flex;
    justify-content: space-between;
}
.pet .pet-header{
    font-size: 12px;
    border: none;
}
.highlight{
    border:3px solid yellow;
}
main{
    margin-top: 2rem;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.vip-container h4{
    margin-top: 2rem;
    margin: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;


}
.vip-container p{
    margin-top: 2rem;
}