.pet-reg{
    display: flex;

    flex-direction: column;
    width: 40rem;
    margin-top: 2rem;
    
}


/*header*/
header{
    display: flex;
    justify-content: space-between;
    height: 40vh;
    background-image: url(https://www.seat.mx/content/countries/mx/seat-website/es/servicio/accesorios-originales/seat-pets/_jcr_content/par/twocolumns_330270530_36697074/twocolumnsimage.resizedViewPort.noscale.assetRootS.jpg
    );
    background-position: center top;
    background-size: cover;
}

/*register form*/

div{
    margin-bottom: 10px;
    margin-left: 4rem;

}
h2{
    margin-left: 8rem;
}

.pets{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.pet{
    border:2px solid;
    
}